{% load static %}
{% load bootstrap5%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{%block title%}Mi Portafolio{%endblock title%}</title>
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% bootstrap_css %}
    
    {%block extra_head%}
    {%endblock%}
</head>

<body>

    {%block content%}
    <!-- Scripts personalizados -->
    {%endblock%}
    {% bootstrap_javascript %}
    <script src="{% static "js/scripts.js"%}"></script>
    <script src="{% static "js/poke_dia.js"%}"></script>
</body>

</html>